{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block banner_img %}'https://wallpaperaccess.com/full/105957.jpg'{% endblock %}
{% block banner_warning_text %}Services{% endblock %}
{% block banner_subtitle_text %}Here you can find all the available services!{% endblock %}
{% block body %}
  <div class="container body-content--white my-5">
        <h1 class="text-center"><i class="h1 bi bi-gear-fill text-center"></i></h1>
        <h1 class="title mx-auto text-center"> ENGINE REPAIR </h1>
        <div class="mb-4" style="border-bottom: 2px solid rgb(0, 0, 0);"></div>
        <div class="row">
            <div class="col-md-6">
                <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, maiores! </h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ratione sit architecto quibusdam, sequi ea veniam quo distinctio facere cum excepturi aliquam sunt voluptate, reiciendis possimus est, nemo repellendus accusamus non numquam? Vero optio cum dolor, aliquam in, ratione commodi nulla unde perspiciatis beatae reiciendis, sunt quis hic maiores nisi?</p>
                <a href="#" class="btn btn-outline-dark btn-lg"> Request </a>
            </div>
            <div class="col-md-6">
                <img src="https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/cars-subcontent/04-images/novo-onix-branco-summit.png?imwidth=960" alt="" class="img-fluid rounded"/>
            </div>
        </div>
    </div>

    <div class="background--dark" style="background-color:black;">
        <div class="container my-5 text-white">
            <h1 class="text-center"><i class="h1 bi bi-hammer text-center"></i></h1>
            <h1 class="title mx-auto text-center"> BODYWORK REPAIR </h1>
            <div class="mb-4" style="border-bottom: 2px solid rgb(77, 76, 76);"></div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, maiores! </h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ratione sit architecto quibusdam, sequi ea veniam quo distinctio facere cum excepturi aliquam sunt voluptate, reiciendis possimus est, nemo repellendus accusamus non numquam? Vero optio cum dolor, aliquam in, ratione commodi nulla unde perspiciatis beatae reiciendis, sunt quis hic maiores nisi?</p>
                    <!-- a read more button bootstrap-->
                    <a href="#" class="btn btn-outline-light btn-lg"> Read More </a>
                </div>
                <div class="col-md-6">
                    <img src="https://media.istockphoto.com/photos/man-repairing-car-on-road-picture-id1271780138" alt="" class="img-fluid rounded"
                    style="height:82%; float:right;"/>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content--white my-5">
        <h1 class="text-center"><i class="h1 bi bi-battery-full text-center"></i></h1>
        <h1 class="title mx-auto text-center"> CHANGE BATTERY </h1>
        <div class="mb-4" style="border-bottom: 2px solid rgb(0, 0, 0);"></div>
        <div class="row">
            <div class="col-md-6">
                <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, maiores! </h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ratione sit architecto quibusdam, sequi ea veniam quo distinctio facere cum excepturi aliquam sunt voluptate, reiciendis possimus est, nemo repellendus accusamus non numquam? Vero optio cum dolor, aliquam in, ratione commodi nulla unde perspiciatis beatae reiciendis, sunt quis hic maiores nisi?</p>
                <a href="#" class="btn btn-outline-dark btn-lg"> Request </a>
            </div>
            <div class="col-md-6">
                <img src="https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/cars-subcontent/04-images/novo-onix-branco-summit.png?imwidth=960" alt="" class="img-fluid rounded"/>
            </div>
        </div>
    </div>
{% endblock %}

