{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block banner_status %}
display:none;
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 d-block">
                <h1> Contact us!</h1>
                <p>Fill correctly fields </p>
                <i class="fa fa-phone">
                    <span> (99) 992331-312321</span>
                </i>
                <br/>
                <i class="fa fa-envelope">
                    <span>dakdsksdak@gmail.com</span>
                </i>
                <br/>
                <i class="fa fa-map-marker">
                    <span>Ms Alice Smith Apartment 1c 213 Derrick Street Boston, MA 02130 USA</span>
                </i>
            </div>
            <div class="col-md-6">
                <form action="" method="POST">
                    <div class="form-group my-2">
                        <label class="fw-bolder" for="name">Name<span class="required text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
                    </div>
                    <div class="form-group my-2">
                        <label class="fw-bolder" for="email">Email<span class="required text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group my-2">
                        <label class="fw-bolder" for="message">Message<span class="required text-danger">*</span></label>
                        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                    </div>
                    <p class="text-muted"><span class="required text-danger">*</span> Campos obrigatorios</p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
