

<style>
.banner {
    background-image: url('https://wallpaperaccess.com/full/105957.jpg');
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    object-fit:fill;
    height: 65vh;
    width: 100%;
}
</style>

<div class="container-fluid m-0 p-0">
        <div class="col-md-12">
            <div class="banner img-fluid d-flex flex-column justify-content-end align-items-end">
                <div class="container ">
                    <h1 class="display-1 text-white fw-light">  CARSHOP </h1>
                    <h2 class="display-2 text-warning fw-bolder" style="color:red;filter:none;"> Servicos e venda</h2>
                    <p class="fs-5 text-white font-monospace"> Nos iremos consertar seu carro e ainda vendemos novos carros e modelos que voce precisa</p>
                </div>
            </div>
        </div>
    </div>